body.app-launched .hide-when-launched {
	display: none;
}

body:not(.app-launched) .hide-when-not-launched {
	display: none;
}

body.app-launched, body.app-launched html {
    margin: 0;
    height: 100%;
    width: 100%;
}

canvas {
    width: 99%;
    height: 99%;
    margin-left: 0.5%;
    margin-top: 0.0%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    cursor: none;
}