/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/

@import "typography.css";

div {
	margin: 8px;
}

div.container {
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: #ffffff;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 36px;
}

p {
	line-height: 24px;
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
	margin-top: 0;
}

.spacer {
	border-bottom: 1px solid #d2caca;
	width: 45%;
	margin: 0 auto;
	margin-top: 32px;
	margin-bottom: 32px;
}

.spacer.no-line {
	border-bottom: transparent;
	margin-top: 40px;
	margin-bottom: 40px;
}

button {
	cursor: pointer;
	background-color: #f0f0f0;
	border-radius: 3px;
	padding: 8px;
}

button:hover {
	filter: brightness(110%);
}

button:active {
	filter: brightness(130%);
}