body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #565656;
	font-size: 13px;
}

a {
	text-decoration: none;
	color: #5d8ba6;
}

a:hover {
	text-decoration: none;
	color: #7fadc8;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #565656;
}

h1 {
	font-size: 30px;
	font-weight: bolder;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
	line-height: 26px;
}

h4 {
	font-size: 17px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-size: 14px;
}

button {
	font-size: 14px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #565656;
}