/* Fullscreen styles */

body.full-screen-mode .hide-when-fullscreen {
	display: none;
}

body:not(.full-screen-mode) .hide-when-not-fullscreen {
	display: none;
}

body.app-launched .hide-when-launched {
	display: none;
}

body:not(.app-launched) .hide-when-not-launched {
	display: none;
}

#fullscreen-enter-button, #fullscreen-exit-button {
	position: fixed;
	top: 8px;
	right: 8px;
}

/* App styles */

body.app-launched {
	background-color: #fdfdfd;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	color: #565656;
	font-size: 14px;
	margin: 0;

	html, div, p {
		margin: 0;
		padding: 0;
	}

	canvas {
		image-rendering: pixelated;
		image-rendering: crisp-edges;
	}

	button {
		font-size: 16px;
		font-family: Futura,Trebuchet MS,Arial,sans-serif; 
		background-color: #f8f8f8;
		color: #565656;
		border-radius: 3px;
		padding: 8px;
	}

	textarea {
		font-family: Futura,Trebuchet MS,Arial,sans-serif;
		resize: none;
	}

	.button {
		user-select: none;
		cursor: pointer;
		font-size: 12px;
		background-color: rgb(176, 204, 255);
		border: 1px solid rgb(140, 180, 255);
		border-radius: 3px;
		padding: 6px;

		&:hover {
			filter: brightness(110%);
		}

		&:active {
			filter: brightness(130%);
		}

		&.red-variant {
			background-color: rgb(255, 176, 176);
			border: 1px solid rgb(255, 140, 140);
		}

		&.green-variant {
			background-color: rgb(186, 255, 176);
			border: 1px solid rgb(99, 225, 85);
		}

		&.gray-variant {
			background-color: rgb(220, 220, 220);
			border: 1px solid rgb(210, 210, 210);
		}
	}

	#menu-buttons-bar {
		margin-top: 8px;
		margin-left: 22px;

		button.active-tab {
			font-weight: bolder;
		}
	}

	#component-pane-parent {
		width: calc(100vw - 48px);
		height: calc(100vh - 48px - 49px);
		margin-left: 22px;
		margin-top: 22px;

		#component-pane {
			width: 100%;
			height: 100%;
			margin: 0;

			//----------------
			// Dice screen
			//----------------

			#dice-graphics-messages-panes {
				display: block;
				float: left;
				width: 50%;
				height: 100%;

				#dice-graphics-pane {
					display: block;
					width: 100%;
				}
		
				#dice-spacer-pane {
					display: block;
					width: 100%;
					height: 1%;
				}

				#dice-messages-pane {
					display: block;
					position: relative;
					width: 100%;
					height: 35%;
					
					#dice-messages-clear {
						position: absolute;
						top: 6px;
						right: 2px;
						font-size: 10px;
						width: 48px;
						float: right;
						text-align: center;
					}

					#dice-messages {
						display: block;
						width: calc(100% - 8px);
						height: calc(100% - 8px);
						overflow-y: hidden;
						padding-left: 8px;
						padding-top: 4px;
						white-space: pre-wrap;
					}
				}
			}
			
			#dice-custom-pane {
				display: block;
				float: right;
				width: 50%;
				height: 100%;
		
				#dice-quantifiers-pane {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					width: 100%;
					height: 60%;
		
					#quantifiers-section {
						display: flex;
						flex-direction: row;
						justify-content: space-evenly;
						flex-grow: 1;
						gap: 12px;

						.dice-quantifiers-pane-column {
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							gap: 4px;
							padding: 6px;
							width: 45%;

							.dice-quantifier-widget {
								display: flex;
								justify-content: space-evenly;
								align-items: center;
								flex-direction: row;
								font-size: larger;
								padding-top: 4px;
								padding-bottom: 4px;
			
								.dice-title {
									flex-basis: 20%;
									flex-direction: row;
									width: 100%;
									padding-right: 8px;
									padding-left: 6px;
								}
			
								.dice-quantifier-buttons {
									display: flex;
									flex-basis: 80%;
									flex-direction: row;
									justify-content: space-evenly;
									align-items: center;
									width:100%;
									gap: 8px;

									.button {
										min-width: 14px;
										text-align: center;
									}

									.current-n {
										padding-right: 8px;
										padding-left: 8px;
										text-align: center;
										flex-grow: 3;
									}
								}
							}
	
							#remove-all-dice-button {
								margin-top: 8px;
								text-align: center;
								align-self: end;
								width: 50%;
							}
						}
					}

					#dice-summary {
						font-size: larger;
						font-weight: bolder;
						flex-grow: 0;
						padding: 8px;
						text-align: center;
					}
				} 
		
				#dice-actions-pane {
					display: block;
					width: 100%;
					height: 40%;

					#actions-message {
						font-size: larger;
						font-weight: bolder;
						padding-top: 8px;
						padding-left: 8px;
						text-align: center;
					}

					#dice-actions-columns {
						display: flex;
						flex-direction: row;
						justify-content: space-evenly;
						padding-top: 10px;

						.action-column {
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							margin-top: 12px;
							gap: 16px;
						}
					}
				}
			}

			//--------------------------
			// Opponent screen
			//--------------------------

			#opponents-header {
				display: block;
				width: 100%;
				height: 5%;

				#opponents-header-dice-roll {
					display: block;
					height: 100%;
					text-align: right;
					float: right;
					padding-top: 4px;
					padding-right: 4px;
				}
			}

			.opponents-spacer-pane {
				display: block;
				width: 100%;
				height: 1%;
			}

			#opponent-cards-pane {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				gap: 6px;

				.opponents-column {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					width: 50%;
					height: 100%;
					gap: 6px;

					.opponent-card {
						border: 1px solid rgb(216, 216, 216);
						display: flex;
						flex-direction: column;
						width: 100%;
						max-height: 33%;
						flex-grow: 1;
						justify-content: space-evenly;
						gap: 8px;

						.opponent-card-header-section {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							flex-basis: 15%;
							padding: 8px;

							.opponent-name {
								font-weight: bolder;
								font-size: larger;
							}

							.roll-action-buttons{
								display: flex;
								flex-direction: row;
								justify-content: center;
								gap: 8px;
							}

							.remove-opponent.button {
								font-size: 8px;
							}
						}

						.opponent-card-hp-armor-section {
							display: flex;
							flex-direction: row;
							justify-content: space-evenly;
							flex-basis: 15%;

							.opponent-card-hp-section {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-content: center; 
								flex-basis: 50%;
								padding-left: 14px;
	
								.opponent-hp-buttons {
									display: flex;
									flex-direction: row;
									justify-content: flex-start;
									width: 100%;
									gap: 4px;

									.button {
										min-width: 14px;
										text-align: center;
									}

									.opponent-hp {
										padding: 7px;
									}
								}
							}
	
							.opponent-card-armor-section {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-content: center; 
								flex-basis: 50%;
								padding-right: 14px;
	
								.opponent-armor-buttons {
									display: flex;
									flex-direction: row;
									justify-content: flex-end;
									width: 100%;
									gap: 4px;

									.button {
										min-width: 14px;
										text-align: center;
									}

									.opponent-armor {
										padding: 7px;
									}
								}
							}
						}

						.opponent-card-damage-text {
							flex-basis: 15%;
							text-align: center;
							padding: 12px;
						}
					}
				}
			}

			#add-remove-opponents-section {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				text-align: center;
				padding-top: 9px;
				width: 100%;

				#add-opponent, #remove-opponents {
					margin-top: 4px;
					width: 15%;
					display: flex;
					flex-direction: column;
					justify-content: center;	
				}
			}

			#add-opponent-modal {
				&:not(.showing) {
					display: none;
				}

				position: fixed;
				z-index: 99;
				background-color: rgba(0, 0, 0, 0.5);
				width: 100vw;
				height: 100vh;
				top: 0;
				left: 0;
				display: flex;
				justify-content: space-evenly;
				
				#add-opponent-modal-inner {
					background-color: #fdfdfd;
					position: absolute;
					top: 25%;
					left: 40%;
					padding: 48px;
					border-radius: 4px;
					box-shadow: 5px 4px 4px 1px rgba(0,0,0,0.15);

					#add-opponent {
						font-weight: bolder;
						font-size: x-large;
						margin-bottom: 40px;
						text-align: center;
					}

					.form-input {
						float: right;
						margin-left: 16px;
					}

					#add-opponent-confirm {
						margin-top: 12px;
						width: 20%;
						text-align: center;
						float: right;
					}
				}
			}

			//------------------------
			// Notes screen
			//------------------------

			#notes-pane {
				display: block;
				width: 99%;
				height: 90%;

				textarea {
					width: 100%;
					height: 100%;
					overflow-wrap: break-word;
					overflow-x: hidden;
					overflow-y: scroll;
				}
			}
		}
	}
}