/* Fullscreen styles */
body.full-screen-mode .hide-when-fullscreen {
  display: none;
}

body:not(.full-screen-mode) .hide-when-not-fullscreen {
  display: none;
}

body.app-launched .hide-when-launched {
  display: none;
}

body:not(.app-launched) .hide-when-not-launched {
  display: none;
}

#fullscreen-enter-button, #fullscreen-exit-button {
  position: fixed;
  top: 8px;
  right: 8px;
}

/* App styles */
body.app-launched {
  background-color: #fdfdfd;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: #565656;
  font-size: 14px;
  margin: 0;
}
body.app-launched html, body.app-launched div, body.app-launched p {
  margin: 0;
  padding: 0;
}
body.app-launched canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
body.app-launched button {
  font-size: 16px;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  background-color: #f8f8f8;
  color: #565656;
  border-radius: 3px;
  padding: 8px;
}
body.app-launched textarea {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  resize: none;
}
body.app-launched .button {
  user-select: none;
  cursor: pointer;
  font-size: 12px;
  background-color: #b0ccff;
  border: 1px solid #8cb4ff;
  border-radius: 3px;
  padding: 6px;
}
body.app-launched .button:hover {
  filter: brightness(110%);
}
body.app-launched .button:active {
  filter: brightness(130%);
}
body.app-launched .button.red-variant {
  background-color: #ffb0b0;
  border: 1px solid #ff8c8c;
}
body.app-launched .button.green-variant {
  background-color: #baffb0;
  border: 1px solid #63e155;
}
body.app-launched .button.gray-variant {
  background-color: gainsboro;
  border: 1px solid #d2d2d2;
}
body.app-launched #menu-buttons-bar {
  margin-top: 8px;
  margin-left: 22px;
}
body.app-launched #menu-buttons-bar button.active-tab {
  font-weight: bolder;
}
body.app-launched #component-pane-parent {
  width: calc(100vw - 48px);
  height: calc(100vh - 48px - 49px);
  margin-left: 22px;
  margin-top: 22px;
}
body.app-launched #component-pane-parent #component-pane {
  width: 100%;
  height: 100%;
  margin: 0;
}
body.app-launched #component-pane-parent #component-pane #dice-graphics-messages-panes {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
}
body.app-launched #component-pane-parent #component-pane #dice-graphics-messages-panes #dice-graphics-pane {
  display: block;
  width: 100%;
}
body.app-launched #component-pane-parent #component-pane #dice-graphics-messages-panes #dice-spacer-pane {
  display: block;
  width: 100%;
  height: 1%;
}
body.app-launched #component-pane-parent #component-pane #dice-graphics-messages-panes #dice-messages-pane {
  display: block;
  position: relative;
  width: 100%;
  height: 35%;
}
body.app-launched #component-pane-parent #component-pane #dice-graphics-messages-panes #dice-messages-pane #dice-messages-clear {
  position: absolute;
  top: 6px;
  right: 2px;
  font-size: 10px;
  width: 48px;
  float: right;
  text-align: center;
}
body.app-launched #component-pane-parent #component-pane #dice-graphics-messages-panes #dice-messages-pane #dice-messages {
  display: block;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  overflow-y: hidden;
  padding-left: 8px;
  padding-top: 4px;
  white-space: pre-wrap;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane {
  display: block;
  float: right;
  width: 50%;
  height: 100%;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-quantifiers-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 60%;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-quantifiers-pane #quantifiers-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
  gap: 12px;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-quantifiers-pane #quantifiers-section .dice-quantifiers-pane-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  padding: 6px;
  width: 45%;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-quantifiers-pane #quantifiers-section .dice-quantifiers-pane-column .dice-quantifier-widget {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  font-size: larger;
  padding-top: 4px;
  padding-bottom: 4px;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-quantifiers-pane #quantifiers-section .dice-quantifiers-pane-column .dice-quantifier-widget .dice-title {
  flex-basis: 20%;
  flex-direction: row;
  width: 100%;
  padding-right: 8px;
  padding-left: 6px;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-quantifiers-pane #quantifiers-section .dice-quantifiers-pane-column .dice-quantifier-widget .dice-quantifier-buttons {
  display: flex;
  flex-basis: 80%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 8px;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-quantifiers-pane #quantifiers-section .dice-quantifiers-pane-column .dice-quantifier-widget .dice-quantifier-buttons .button {
  min-width: 14px;
  text-align: center;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-quantifiers-pane #quantifiers-section .dice-quantifiers-pane-column .dice-quantifier-widget .dice-quantifier-buttons .current-n {
  padding-right: 8px;
  padding-left: 8px;
  text-align: center;
  flex-grow: 3;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-quantifiers-pane #quantifiers-section .dice-quantifiers-pane-column #remove-all-dice-button {
  margin-top: 8px;
  text-align: center;
  align-self: end;
  width: 50%;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-quantifiers-pane #dice-summary {
  font-size: larger;
  font-weight: bolder;
  flex-grow: 0;
  padding: 8px;
  text-align: center;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-actions-pane {
  display: block;
  width: 100%;
  height: 40%;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-actions-pane #actions-message {
  font-size: larger;
  font-weight: bolder;
  padding-top: 8px;
  padding-left: 8px;
  text-align: center;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-actions-pane #dice-actions-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}
body.app-launched #component-pane-parent #component-pane #dice-custom-pane #dice-actions-pane #dice-actions-columns .action-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 12px;
  gap: 16px;
}
body.app-launched #component-pane-parent #component-pane #opponents-header {
  display: block;
  width: 100%;
  height: 5%;
}
body.app-launched #component-pane-parent #component-pane #opponents-header #opponents-header-dice-roll {
  display: block;
  height: 100%;
  text-align: right;
  float: right;
  padding-top: 4px;
  padding-right: 4px;
}
body.app-launched #component-pane-parent #component-pane .opponents-spacer-pane {
  display: block;
  width: 100%;
  height: 1%;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 6px;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  gap: 6px;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card {
  border: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 33%;
  flex-grow: 1;
  justify-content: space-evenly;
  gap: 8px;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 15%;
  padding: 8px;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-header-section .opponent-name {
  font-weight: bolder;
  font-size: larger;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-header-section .roll-action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-header-section .remove-opponent.button {
  font-size: 8px;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-hp-armor-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 15%;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-hp-armor-section .opponent-card-hp-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-basis: 50%;
  padding-left: 14px;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-hp-armor-section .opponent-card-hp-section .opponent-hp-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 4px;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-hp-armor-section .opponent-card-hp-section .opponent-hp-buttons .button {
  min-width: 14px;
  text-align: center;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-hp-armor-section .opponent-card-hp-section .opponent-hp-buttons .opponent-hp {
  padding: 7px;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-hp-armor-section .opponent-card-armor-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-basis: 50%;
  padding-right: 14px;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-hp-armor-section .opponent-card-armor-section .opponent-armor-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  gap: 4px;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-hp-armor-section .opponent-card-armor-section .opponent-armor-buttons .button {
  min-width: 14px;
  text-align: center;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-hp-armor-section .opponent-card-armor-section .opponent-armor-buttons .opponent-armor {
  padding: 7px;
}
body.app-launched #component-pane-parent #component-pane #opponent-cards-pane .opponents-column .opponent-card .opponent-card-damage-text {
  flex-basis: 15%;
  text-align: center;
  padding: 12px;
}
body.app-launched #component-pane-parent #component-pane #add-remove-opponents-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-top: 9px;
  width: 100%;
}
body.app-launched #component-pane-parent #component-pane #add-remove-opponents-section #add-opponent, body.app-launched #component-pane-parent #component-pane #add-remove-opponents-section #remove-opponents {
  margin-top: 4px;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body.app-launched #component-pane-parent #component-pane #add-opponent-modal {
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
}
body.app-launched #component-pane-parent #component-pane #add-opponent-modal:not(.showing) {
  display: none;
}
body.app-launched #component-pane-parent #component-pane #add-opponent-modal #add-opponent-modal-inner {
  background-color: #fdfdfd;
  position: absolute;
  top: 25%;
  left: 40%;
  padding: 48px;
  border-radius: 4px;
  box-shadow: 5px 4px 4px 1px rgba(0, 0, 0, 0.15);
}
body.app-launched #component-pane-parent #component-pane #add-opponent-modal #add-opponent-modal-inner #add-opponent {
  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 40px;
  text-align: center;
}
body.app-launched #component-pane-parent #component-pane #add-opponent-modal #add-opponent-modal-inner .form-input {
  float: right;
  margin-left: 16px;
}
body.app-launched #component-pane-parent #component-pane #add-opponent-modal #add-opponent-modal-inner #add-opponent-confirm {
  margin-top: 12px;
  width: 20%;
  text-align: center;
  float: right;
}
body.app-launched #component-pane-parent #component-pane #notes-pane {
  display: block;
  width: 99%;
  height: 90%;
}
body.app-launched #component-pane-parent #component-pane #notes-pane textarea {
  width: 100%;
  height: 100%;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
}
